<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/dashboard']">
                    <i class="icon-speedometer"></i> 首页 </a>
            </li>
            <li class="divider"></li>
            <li class="nav-title">
                样目管理
            </li>
            <li class="nav-item nav-dropdown" routerLinkActive="open">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i>房卡管理</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/card']"><i class="icon-star"></i>房卡管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/cardLog']"><i class="icon-star"></i>房卡日志</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/system']"><i class="icon-calculator"></i> 游戏设置 <span class="badge badge-info">NEW</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/player']"><i class="icon-pie-chart"></i> 玩家管理</a>
            </li>
            <li class="divider"></li>
            <li class="nav-title">
                系统管理
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> 系统管理 </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/role']"><i class="icon-star"></i> 角色管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/user']"><i class="icon-star"></i>菜单管理</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/power']"><i class="icon-star"></i>权限管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/user']"><i class="icon-star"></i>用户管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="['/admin/systemLog']"><i class="icon-star"></i>日志管理</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>