<template-panel-table>
    <div plane-body>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <button class="btn btn-primary" type="button"  data-toggle="modal" (click)="lgAddModal.show()"><i class="fa fa-plus"></i> 添加</button>
                        <button class="btn btn-info" type="button" data-toggle="modal" (click)="lgModal.show()"><i class="fa fa-edit"></i>选择菜单</button>
                        <button class="btn btn-danger" type="button" (click)="delete()"><i class="fa fa-minus"></i> 删除</button>
                    </div>
                </div>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <th>
                            <input type="checkbox" name="checkAllPower" (click)="allchecked(checkAllPower.checked,2)" #checkAllPower>
                        </th>
                        <th>名称</th>
                        <th>url</th>
                        <th>状态</th>
                        <th>操作</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let power of PowerList">
                            <td>
                                <input type="checkbox" [checked]="power.isChecked" name="checkboxPower" id="checkboxPower" (change)="oncheckedPower(power,checkboxPower.checked)"
                                    #checkboxPower>
                            </td>
                            <td>{{power.title}}</td>
                            <td>{{power.url}}</td>
                            <td>
                                <ng-container *ngIf="power.isValid">
                                    <span class="badge badge-success">有效</span>
                                </ng-container>
                                <ng-container *ngIf="!power.isValid">
                                    <span class="badge badge-default">无效</span>
                                </ng-container>
                            </td>
                            <th>
                                <a href="javascript:void(0)" (click)="lgFunModal.show();onGetPowerFun(power)">功能权限</a>
                                <a href="javascript:void(0)" (click)="onDelInfo(power.id)">删除</a>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">菜单列表</h4>
                        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <th>
                                    <input type="checkbox" name="checkAll" (click)="allchecked(checkAll.checked,1)" #checkAll>
                                </th>
                                <th>名称</th>
                                <th>url</th>
                                <th>状态</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let menu of NaveMenulist">
                                    <td>
                                        <input type="checkbox" [checked]="menu.isChecked" name="checkbox" id="checkbox" (change)="oncheckedMenu(menu,checkbox.checked)"
                                            #checkbox>
                                    </td>
                                    <td>{{menu.title}}</td>
                                    <td>{{menu.url}}</td>
                                    <td>
                                        <ng-container *ngIf="menu.isValid">
                                            <span class="badge badge-success">有效</span>
                                        </ng-container>
                                        <ng-container *ngIf="!menu.isValid">
                                            <span class="badge badge-default">无效</span>
                                        </ng-container>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" (click)="lgModal.hide()" aria-label="Close">关闭</button>
                        <button class="btn btn-primary" type="button" (click)="onSave();lgModal.hide()" aria-label="Close">保存</button>
                    </div>
                </div>
            </div>
        </div>

        <div bsModal #lgAddModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">添加权限</h4>
                        <button type="button" class="close pull-right" (click)="lgAddModal.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #f="ngForm" class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="col-md-2 control-label" >名称</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" [(ngModel)]="power.title" name="power.title" id="power.title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="code" class="col-md-2 control-label" >编号</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" [(ngModel)]="power.code" name="power.code" id="power.code">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="url" class="col-md-2 control-label" >Url</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" [(ngModel)]="power.url" name="power.url" id="power.url">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="">
                                        <label><input type="checkbox" [(ngModel)]="power.isValid" name="power.isValid" id="power.isValid"> 是否启用</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" (click)="lgAddModal.hide()" aria-label="Close">关闭</button>
                        <button class="btn btn-primary" type="button" (click)="onSubmit();lgAddModal.hide()" aria-label="Close">保存</button>
                    </div>
                </div>
            </div>
        </div>

         <div bsModal #lgFunModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-ls">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title pull-left">功能权限</h4>
                        <button type="button" class="close pull-right" (click)="lgFunModal.hide()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ol>
                            <li><input type="checkbox" [checked]="'SHOW' | Checked: nowPower.operation" value="SHOW" (change)="onFunCheck($event)"> 查看 </li>
                            <li><input type="checkbox" [checked]="'ADD' | Checked: nowPower.operation" value="ADD" (change)="onFunCheck($event)"> 添加 </li>
                            <li><input type="checkbox" [checked]="'UPDATE' | Checked: nowPower.operation" value="UPDATE" (change)="onFunCheck($event)"> 修改 </li>
                            <li><input type="checkbox" [checked]="'DELETE' | Checked: nowPower.operation" value="DELETE" (change)="onFunCheck($event)"> 删除 </li>
                            <li><input type="checkbox" [checked]="'CHECK' | Checked: nowPower.operation"value="CHECK" (change)="onFunCheck($event)"> 审核 </li>
                        </ol>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" (click)="lgFunModal.hide()" aria-label="Close">关闭</button>
                        <button class="btn btn-primary" type="button" (click)="onSaveFunPower();lgFunModal.hide()" aria-label="Close">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template-panel-table>